table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
p{
    color:gray;
}

.btn.btn-primary {
    background-color: lightgreen;
    border: black;
}
.nav-link:active,
.nav-link:hover,
.nav-link:focus{
    color: lightgreen !important;
}

.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: lightgreen !important;
}

#coffees{
    border: 1px solid red;
}

.coffee{
    border: 1px solid blue;
    border-radius: 10px;
}

.sub-header{
    text-decoration: underline;
}

@media screen and (max-width: 768px) {


}